.ztopia-select {
  position: relative;
  height: 40px;

  &.is-multi {
    height: auto;
  }

  &__label {
    display: block;
    color: $black-dark;
    font-size: $font-size-xs;
  }

  &__container {
    margin-top: -4px;

    .select {
      &__control {
        position: relative;
        height: 30px;
        min-height: 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $white-dark;
        border-radius: 0;
        box-shadow: none;
        cursor: pointer;

        &::before,
        &::after {
          position: absolute;
          bottom: -1px;
          width: 0;
          height: 1px;
          background-color: $black-dark;
          transition: $transition-fast;
          content: '';
        }

        &::before {
          left: 50%;
        }

        &::after {
          right: 50%;
        }

        &:hover {
          border-color: $white-dark;
        }

        &--is-focused {
          &::before,
          &::after {
            width: 50%;
          }
        }
      }

      &__value-container {
        padding: 2px 0;
      }

      &__indicator-separator {
        background-color: $white-dark;
      }

      &__indicator {
        padding: 0 $spacing-xs;
        color: $white-dark;
        cursor: pointer;
      }

      &__dropdown-indicator {
        &:hover {
          color: $color-success;
        }
      }

      &__clear-indicator {
        &:hover {
          color: $color-danger;
        }
      }

      &__menu {
        z-index: 999;
        margin-top: 0;
        overflow: hidden;
        background-color: $white-light;
        border: 1px solid $black-dark;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &__menu-list {
        padding: 0;
      }

      &__option {
        cursor: pointer;

        &:hover,
        &--is-focused {
          color: $white-light;
          background-color: $black-dark;
        }

        &--is-selected {
          background-color: $black-dark;
        }
      }

      &__placeholder {
        margin-left: 0;
        color: $white-dark;
      }

      &__input {
        margin-left: -2px;
        color: $black-dark;
      }

      &__single-value {
        margin: 0;
        color: $black-dark;
      }

      &__multi-value {
        margin: 2px;
        overflow: hidden;
        background-color: $black-dark;
      }

      &__multi-value__label {
        color: $white-light;
        font-size: $font-size-s;
      }

      &__multi-value__remove {
        color: $white-light;
        border-radius: 0;
        cursor: pointer;

        &:hover {
          color: $color-danger;
          background-color: $red-light;
        }
      }
    }

    &.is-multi {
      margin-top: -2px;

      .select {
        &__control {
          height: auto;
          min-height: 38px;
        }

        &__value-container--has-value {
          .select__input {
            margin-left: 0;
          }
        }
      }
    }

    &.is-searchable {
      .select {
        &__control {
          cursor: text;
        }
      }
    }

    &.has-error {
      .select {
        &__control {
          &::before,
          &::after {
            width: 50%;
            background-color: $color-danger;
          }
        }
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -2px;
    color: $color-danger;
    font-size: $font-size-xs;
    transform: translateY(100%);
  }
}
