.ztopia-tabs {
  position: relative;

  &__items {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &.is-vertical {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__item {
    padding: $spacing-s $spacing-m;
    cursor: pointer;
  }

  &__indicator {
    position: absolute;
    background-color: $black-dark;
    transition: $transition-fast;
  }
}
