.ztopia-block-text-editor {
  /*===============================
  =            Toolbar            =
  ===============================*/
  .bf-controlbar {
    border-bottom: 1px solid $white-dark;
    box-shadow: none;

    /* Separator */
    .separator-line {
      background-color: $white-dark;
      box-shadow: none;
    }

    /* Button */
    .control-item {
      &.active {
        color: $blue;
      }
    }

    /* Arrow */
    [data-title] {
      /* Tooltip Arrow */
      &::before {
        border-bottom-color: $black-dark;
      }

      /* Tooltip Content */
      &::after {
        padding: $spacing-xs $spacing-s;
        background-color: $black-dark;
      }
    }

    /*=========================================
    =            Headings Dropdown            =
    =========================================*/
    .bf-dropdown {
      .dropdown-content {
        > .dropdown-arrow {
          background-color: $black-dark;
        }

        > .dropdown-content-inner {
          background-color: $black-dark;

          /* Headings Menu */
          > .menu {
            > .menu-item {
              > h1,
              > h2,
              > h3,
              > h4,
              > h5,
              > h6 {
                font-weight: bold;
                line-height: normal;
              }

              &:not(.active) {
                color: $white-dark;
                box-shadow: none;

                &:not(:first-of-type) {
                  border-top: 1px solid $black-light;
                }
              }

              &.active,
              &:hover {
                color: $white-light;
              }

              &:hover:not(.active) {
                background-color: $black;
              }

              &.active {
                background-color: $blue;
              }
            }
          }
        }
      }
    }
    /*=====  End of Headings Dropdown  ======*/

    /*=========================================
    =            Text Color Picker            =
    =========================================*/
    .text-color-dropdown {
      .bf-color-switch-buttons {
        > button {
          color: $white-dark;
          transition: $transition-fast;

          &:hover {
            color: $white-light;
          }

          &.active {
            color: $blue;
            border-bottom-color: $blue;
          }
        }
      }
    }
    /*=====  End of Text Color Picker  ======*/

    /*====================================
    =            Emoji Picker            =
    ====================================*/
    .bf-emojis-wrap {
      /* Shadow */
      &::before,
      &::after {
        display: none;
      }
    }
    /*=====  End of Emoji Picker  ======*/

    /*===================================
    =            Link Editor            =
    ===================================*/
    .bf-link-editor {
      > .input-group > input {
        padding: 0 $spacing-m;
        font-weight: normal;
        background-color: $black;
        border: 1px solid $black-light;
        box-shadow: none;
        transition: $transition-fast;

        &:hover,
        &:focus {
          border-color: $blue;
        }
      }

      > .switch-group {
        > label {
          color: $white-dark;
        }

        > .bf-switch {
          cursor: pointer;

          &.active {
            background-color: $blue;
          }
        }
      }

      > .buttons {
        border-top: 1px solid $black;
        box-shadow: none;

        /* Remove Link Button */
        > .button-remove-link {
          color: $white-dark;
          transition: $transition-fast;

          &:hover {
            color: $color-danger;
          }
        }

        /* Cancel Button */
        > button.default {
          background-color: $black;
          transition: $transition-fast;

          &:hover {
            background-color: $color-danger;
          }
        }

        /* Confirm Button */
        > button.primary {
          background-color: $blue;
          transition: $transition-fast;

          &:hover {
            background-color: $blue-light;
          }
        }
      }
    }
    /*=====  End of Link Editor  ======*/
  }
  /*=====  End of Toolbar  ======*/

  .bf-content {
    cursor: text;

    [data-contents='true'] {
      > *:first-child {
        margin-top: 0;
      }

      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        margin: 0;
        font-weight: bold;

        + p,
        + pre,
        + blockquote,
        + ol,
        + ul {
          margin-top: $spacing-s;
        }
      }

      > h1 {
        margin-top: 40px;
        font-size: 28px;
      }

      > h2 {
        margin-top: 30px;
        font-size: 24px;
      }

      > h3 {
        font-size: $font-size-xl;
      }

      > h4 {
        font-size: $font-size-m;
      }

      > h5 {
        font-size: $font-size-s;
      }

      > h6 {
        font-size: $font-size-xs;
      }

      > h3,
      > h4,
      > h5,
      > h6 {
        margin-top: $spacing-xxl;
      }

      > p,
      > pre,
      > blockquote,
      > ol,
      > ul,
      > div {
        margin: $spacing-l 0 0;
      }

      > ol,
      > ul {
        padding-left: 30px;

        > li {
          margin: $spacing-s 0;
        }
      }

      > ol {
        list-style: decimal;
      }

      > ul {
        list-style: disc;
      }

      > pre {
        padding: $spacing-xs 6px;
        color: inherit;
        font-size: inherit;
        font-family: monospace, monospace;
        background-color: #f5f7f9;
      }

      > blockquote {
        padding: $spacing-xs 0 $spacing-xs $spacing-s;
        color: $black-light;
        font-style: italic;
        background-color: transparent;
        border-left: 2px solid $black-dark;
      }
    }

    .bf-image {
      float: none !important;
      text-align: center;

      > img:hover {
        outline-color: $blue;
      }

      /* Media Toolbar */
      > .bf-media-toolbar {
        background-color: $black-dark;

        .bf-media-toolbar-arrow {
          border-top-color: $black-dark;
        }

        a {
          color: $white-dark;
          transition: $transition-fast;

          &:hover {
            color: $white-light;
          }
        }

        &[data-align='center'] [data-align='center'],
        &[data-align='left'] [data-align='left'],
        &[data-align='right'] [data-align='right'],
        &[data-float='left'] [data-float='left'],
        &[data-float='right'] [data-float='right'] {
          color: $blue;
        }
      }
    }
  }
}

/*=============================
=            Modal            =
=============================*/
.bf-modal {
  .bf-modal-mask {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .bf-modal-content {
    border-radius: 0;
    box-shadow: none;
  }

  .bf-modal-caption {
    color: $black-dark;
  }

  .bf-modal-close-button {
    color: $white-dark;
    transition: $transition-fast;

    &:hover {
      color: $color-danger;
    }
  }

  /*======================================
  =            Media Uploader            =
  ======================================*/
  .braft-finder {
    .bf-toggle-external-form {
      .bf-bottom-text {
        color: $white-dark;
        transition: $transition-fast;

        &:hover {
          color: $blue;
        }
      }
    }

    .bf-drag-uploader {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px dashed $white-dark;
      transition: $transition-fast;

      &:hover {
        background-color: transparent;
        border-color: $color-success;
      }
    }

    .bf-drag-tip {
      margin: 0;
      color: $black-light;
      font-size: $font-size-xl;
    }

    .bf-manager-footer {
      .button-cancel {
        color: $white-light;
        background-color: $white-dark;
        transition: $transition-fast;

        &:hover {
          background-color: $color-danger;
        }
      }

      .button-insert {
        background-color: $blue;
        transition: $transition-fast;

        &:hover {
          background-color: $blue-dark;
        }
      }
    }

    .bf-external-input {
      input {
        font-size: $font-size-s;
        border: 1px solid $white-dark;
        box-shadow: none;
        transition: $transition-fast;

        &:focus {
          border-color: $blue;
          box-shadow: none;
        }
      }

      button {
        background-color: $blue;
        transition: $transition-fast;

        &:hover {
          background-color: $blue-dark;
        }
      }
    }

    .bf-switch-external-type {
      > button {
        color: $black-light;
        background-color: $white;
        transition: $transition-fast;

        &:hover {
          background-color: $white-dark;
        }
      }

      &[data-type='IMAGE'] > [data-type='IMAGE'],
      &[data-type='VIDEO'] > [data-type='VIDEO'],
      &[data-type='AUDIO'] > [data-type='AUDIO'],
      &[data-type='EMBED'] > [data-type='EMBED'],
      &[data-type='FILE'] > [data-type='FILE'] {
        background-color: $blue-dark;
      }
    }

    .bf-external-tip {
      color: $white-dark;
    }

    .bf-list-tools {
      > .bf-select-all,
      > .bf-deselect-all {
        color: $white-dark;
        transition: $transition-fast;
      }

      > .bf-select-all {
        &:hover {
          color: $blue-dark;
        }
      }

      > .bf-deselect-all {
        &:hover {
          color: $color-danger;
        }
      }

      > .bf-remove-selected {
        color: $color-danger;
        transition: $transition-fast;

        &:hover {
          color: $red-dark;
        }
      }
    }

    .bf-item {
      cursor: pointer;

      &.active {
        /* Check Mark */
        &::before {
          font-size: 30px;
        }

        /* Image Mask */
        &::after {
          background-color: rgba(94, 156, 234, 0.3);
          transition: $transition-fast;
        }

        &:hover {
          &::after {
            background-color: $blue;
          }
        }
      }
    }

    .bf-item-remove {
      transition: $transition-fast;

      &:hover {
        color: $color-danger;
      }
    }

    .bf-add-item {
      color: $black-light;
      background-color: $white;
      border-radius: 0;
      transition: $transition-fast;

      &:hover {
        background-color: $white-dark;
      }

      > i {
        font-size: 35px;
      }
    }
  }
  /*=====  End of Media Uploader  ======*/
}
/*=====  End of Modal  ======*/
