@keyframes ring {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ztopia-icon--bell {
  position: relative;

  &__count {
    position: absolute;
    top: 0;
    right: -4px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    color: $white-light;
    font-size: 10px;
    background-color: $red-dark;
    border-radius: 50%;
  }

  &.is-animated {
    animation: ring 1.5s ease;
  }
}
