.ztopia-input {
  position: relative;
  width: 100%;
  margin-bottom: $spacing-l;

  &--material {
    height: 40px;
    padding-top: $spacing-s;
  }

  &__label {
    display: block;

    &--rect,
    &--pill {
      margin-bottom: 2px;
    }

    &--material {
      position: absolute;
      top: 36%;
      transition: $transition-fast;

      &.is-active {
        top: 0;
        font-size: $font-size-xs;
      }
    }
  }

  &__bar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $black-dark;
    content: '';
    transform: scale(0);
    transition: transform 0.2s cubic-bezier(0.5, 0.5, 1, 1);

    &.has-error {
      background-color: $color-danger;
    }
  }

  &__input {
    width: 100%;
    height: 30px;
    padding: 0;
    border: 0;
    font-size: $font-size-m;
    background-color: transparent;
    outline: 0;

    &--rect {
      padding: 0 $spacing-xs;
      border: 1px solid $black-dark;

      &.has-error {
        border-color: $color-danger;
      }
    }

    &--pill {
      padding: 0 $spacing-s;
      border: 1px solid $black-dark;
      border-radius: 100px;

      &.has-error {
        border-color: $color-danger;
      }
    }

    &--material {
      border-bottom: 1px solid $white-dark;

      &:disabled + .ztopia-input__bar {
        cursor: not-allowed;
        opacity: 0.4;
      }

      &:focus + .ztopia-input__bar {
        transform: scale(1);
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  &__error {
    position: absolute;
    bottom: -2px;
    left: 0;
    color: $color-danger;
    transform: translateY(100%);
  }
}
