.ztopia-input {
  position: relative;
  width: 100%;
  margin-bottom: $spacing-l;

  &--material {
    height: 40px;
    padding-top: 10px;
  }

  &__label {
    display: block;

    &.is-required {
      &::after {
        position: absolute;
        color: $color-danger;
        content: '*';
      }
    }

    &--rect,
    &--pill {
      margin-bottom: 2px;
    }

    &--material {
      position: absolute;
      top: 42%;
      transition: $transition-fast;
      pointer-events: none;

      &.is-active {
        top: 0;
        font-size: $font-size-xs;
      }
    }
  }

  &__bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: $white-dark;

    &::before,
    &::after {
      position: absolute;
      width: 0;
      height: 100%;
      background-color: $black-dark;
      transition: $transition-fast;
      content: '';
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }

    &.has-error {
      background-color: $color-danger;

      &::before,
      &::after {
        background-color: $color-danger;
      }
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 30px;
    outline: 0;
    cursor: text;

    &--rect {
      padding: 0 $spacing-s;
      border: 1px solid $black-dark;

      &.has-error {
        border-color: $color-danger;
      }

      &.has-prefix-icon {
        padding-left: $spacing-xxl;
      }

      &.has-suffix-icon {
        padding-right: $spacing-xxl;
      }
    }

    &--pill {
      padding: 0 $spacing-s;
      border: 1px solid $black-dark;
      border-radius: 100px;

      &.has-error {
        border-color: $color-danger;
      }

      &.has-prefix-icon {
        padding-left: 30px;
      }

      &.has-suffix-icon {
        padding-right: 30px;
      }
    }

    &--material {
      &.has-prefix-icon {
        padding-left: $spacing-l;
      }

      &.has-suffix-icon {
        padding-right: $spacing-l;
      }

      &.is-focused:not(.is-disabled) {
        > .ztopia-input__bar {
          &::before,
          &::after {
            width: 50%;
          }
        }
      }
    }

    &.is-disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  &__input {
    width: 100%;
    padding: 0;
    font-size: $font-size-m;
    background-color: transparent;
    border: 0;
    outline: 0;
    appearance: none;
  }

  &__tags {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__tag {
    padding: $spacing-xxs $spacing-s;
    color: $white-light;
    font-size: $font-size-xs;
    line-height: normal;
    background-color: $black-dark;
    border-radius: $border-radius-s;

    &:not(:last-of-type) {
      margin-right: $spacing-s;
    }
  }

  &__prefix-icon {
    position: absolute;
    left: 0;

    &--rect {
      left: $spacing-xs;
    }

    &--pill {
      left: $spacing-s;
    }
  }

  &__suffix-icon {
    position: absolute;
    right: 0;

    &--rect {
      right: $spacing-xs;
    }

    &--pill {
      right: $spacing-s;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -2px;
    color: $color-danger;
    transform: translateY(100%);
  }
}
