.ztopia-file-uploader {
  &__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: $black-light;
    border: 2px dashed $black;
    outline: none;
    cursor: pointer;
    transition: $transition-fast;

    &:hover {
      border-color: $green;
    }

    &.drag-enter {
    }

    &.drag-over {
      border-color: $green;
    }

    &.drag-leave {
    }
  }

  &__label {
    margin: $spacing-l 0 0;
    pointer-events: none;
  }

  &__file-previews {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__file-preview {
    display: flex;
    margin: $spacing-l 0;
  }

  &__file-thumb {
    flex: 0 0 50px;
  }

  &__upload-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 $spacing-l;
    overflow: hidden;
  }

  &__file-meta {
    display: flex;
    justify-content: space-between;
  }

  &__file-name {
    display: block;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__progress {
    flex: 0 0 6px;
  }

  &__file-remove-indicator {
    color: $white-dark;
    cursor: pointer;
    transition: $transition-fast;

    &:hover {
      color: $color-danger;
    }
  }
}
