@keyframes bar-loader {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.ztopia-loader--line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;

  &__bar {
    width: 100%;
    height: 100%;
    animation: bar-loader 1.8s ease-in-out infinite;
  }

  &.ztopia-loader--small {
    height: 4px;
  }

  &.ztopia-loader--medium {
    height: 6px;
  }

  &.ztopia-loader--large {
    height: 8px;
  }
}
