@keyframes basic-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ztopia-loader--basic {
  animation: basic-loader 1s infinite linear;
  background-color: transparent;
  border-radius: 100%;
  border-style: solid;

  &.ztopia-loader--small {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }

  &.ztopia-loader--medium {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }

  &.ztopia-loader--large {
    width: 50px;
    height: 50px;
    border-width: 5px;
  }
}
