.ztopia-tooltip {
  padding: 0;
  line-height: inherit;
  background-color: $white-light;

  &--top .rc-tooltip-arrow,
  &--topLeft .rc-tooltip-arrow,
  &--topRight .rc-tooltip-arrow {
    border-top-color: $black-dark;
  }

  &--right .rc-tooltip-arrow,
  &--rightTop .rc-tooltip-arrow,
  &--rightBottom .rc-tooltip-arrow {
    border-right-color: $black-dark;
  }

  &--bottom .rc-tooltip-arrow,
  &--bottomLeft .rc-tooltip-arrow,
  &--bottomRight .rc-tooltip-arrow {
    border-bottom-color: $black-dark;
  }

  &--left .rc-tooltip-arrow,
  &--leftTop .rc-tooltip-arrow,
  &--leftBottom .rc-tooltip-arrow {
    border-left-color: $black-dark;
  }

  .rc-tooltip-inner {
    padding: $spacing-xs $spacing-s;
    color: $black-dark;
    background-color: transparent;
    border-color: $black-dark;
    min-height: unset;
  }
}
