@keyframes fading {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
  }
}

.ztopia-placeholder {
  opacity: 0.6;

  &--circle {
    border-radius: 100%;
  }

  &--image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: 25%;
      min-width: 15px;
      max-width: 80px;
      height: 20%;
      min-height: 40px;
    }
  }

  &--text {
    overflow: hidden;

    > div {
      margin: $spacing-s 0;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.is-animated {
    cursor: wait;
    animation: fading 1.4s infinite;
  }
}
