@import 'react-toastify/dist/ReactToastify.css';

.ztopia-toast {
  &__content {
    box-shadow: $box-shadow-2;
  }

  &__close-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $white-dark;

    &:hover {
      color: $red;
    }
  }

  .Toastify__toast {
    padding: $spacing-s;
    color: $black-dark;

    &__default {
      background-color: $white-light;
    }

    &--info {
      background-color: $blue;
    }

    &--success {
      background-color: $color-success;
    }

    &--warning {
      background-color: $color-warning;
    }

    &--error {
      background-color: $color-danger;
    }
  }
}
