.ztopia-drawer {
  z-index: $z-index-drawer;
  outline: none;

  > .drawer-mask {
    cursor: pointer;
  }

  &.invisible-mask {
    > .drawer-mask {
      opacity: 0 !important;
      animation: none !important;
    }
  }
}
