.ztopia-textarea {
  position: relative;

  &__input {
    width: 100%;
    padding: $spacing-s;
    line-height: 1.4rem;
    outline: 0;
    transition: $transition-fast;

    &:focus {
      border-color: $black-dark;
    }

    &.has-error {
      border-color: $color-danger;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -2px;
    color: $color-danger;
    transform: translateY(100%);
  }
}
