.ztopia-textarea {
  position: relative;

  &__input {
    width: 100%;
    padding: $spacing-s;
    font-size: inherit;
    line-height: 1.4rem;
    border: 1px solid $white-dark;
    outline: 0;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $black-dark;
    }

    &.has-error {
      border-color: $color-danger;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: $spacing-xxs;
    color: $color-danger;
    transform: translateY(100%);
  }
}
