.ztopia-textarea {
  position: relative;
  line-height: 1.4rem;

  &__input {
    width: 100%;
    padding: $spacing-s;
    font-size: inherit;
    border: 1px solid $white-dark;
    outline: 0;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $black-dark;
    }

    &.has-error {
      border-color: $color-danger;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -2px;
    color: $color-danger;
    transform: translateY(100%);
  }
}
