@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

.ztopia-elastic-stroke {
  font: 16em/1 Arial;
  background: hsl(200, 70, 11);
  background-size: 0.12em 100%;

  .text {
    font-size: 0.5em;
  }

  .text-copy {
    animation: stroke-offset 8s infinite linear;
    fill: none;
    stroke: #ffffff;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;

    &:nth-child(1) {
      stroke: #360745;
      stroke-dashoffset: 7%;
    }

    &:nth-child(2) {
      stroke: #d61c59;
      stroke-dashoffset: 14%;
    }

    &:nth-child(3) {
      stroke: #e7d84b;
      stroke-dashoffset: 21%;
    }

    &:nth-child(4) {
      stroke: #efeac5;
      stroke-dashoffset: 28%;
    }

    &:nth-child(5) {
      stroke: #1b8798;
      stroke-dashoffset: 35%;
    }
  }
}
