.ztopia-inline-text-editor {
  position: relative;
  outline: none;
  cursor: text;

  *:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;

    + p,
    + pre,
    + blockquote,
    + ol,
    + ul,
    + div {
      margin-top: $spacing-s;
    }

    /* If an image is directly placed under a heading, increase the spacing */
    + p > img:first-child {
      margin-top: $spacing-l;
    }

    + img:not(:first-child) {
      margin-top: $spacing-l;
    }
  }

  h1 {
    margin-top: 60px;
  }

  h2 {
    margin-top: 35px;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: $spacing-xxl;
  }

  p,
  pre,
  blockquote,
  ol,
  ul,
  div {
    margin: $spacing-xl 0 0;
  }

  ol,
  ul {
    padding-left: 30px;

    li {
      margin: $spacing-s 0;
    }
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  pre {
    padding: $spacing-xs 6px;
    color: inherit;
    font-size: inherit;
    font-family: monospace, monospace;
    background-color: #f5f7f9;
  }

  blockquote {
    padding: $spacing-xs 0 $spacing-xs $spacing-s;
    color: $black-light;
    font-style: italic;
    background-color: transparent;
    border-left: 2px solid $black-dark;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    &:not(:first-child) {
      margin-top: $spacing-xl;
    }
  }

  figcaption {
    margin-top: $spacing-m;
    color: $white-dark;
    text-align: center;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.medium-editor-toolbar {
  background-color: $black-dark;
  border-color: $black-dark;
  border-radius: 5px;

  li {
    button {
      min-width: 40px;
      height: 40px;
      padding: 0;
      color: $white-light;
      border: 0;

      &:hover {
        color: $color-success;
        background-color: transparent;
      }

      &.medium-editor-action-pre {
        padding: 0;
        font-size: 11px;
      }
    }

    .medium-editor-button-active {
      color: $color-success;
      background-color: transparent;
    }
  }
}

.medium-editor-toolbar-form {
  .medium-editor-toolbar-input {
    height: 40px;
    padding: $spacing-m;
    background-color: $black-dark;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .medium-editor-toolbar-input {
    width: 340px;
  }

  a {
    font-size: $font-size-m;
  }

  .medium-editor-toolbar-save {
    margin: 0;

    &:hover {
      color: $color-success;
      transition: $transition-fast;
    }
  }

  .medium-editor-toolbar-close {
    margin: 0 $spacing-m;

    &:hover {
      color: $color-danger;
      transition: $transition-fast;
    }
  }
}

.medium-editor-toolbar-form-active {
  display: flex;
  align-items: center;
}

.medium-editor-toolbar-anchor-preview {
  padding: $spacing-xs $spacing-s $spacing-s;
  background-color: $black-dark;
  border-radius: 2px;

  a {
    margin: 0;
    font-size: $font-size-xs;
    text-decoration: none;
  }
}

.medium-toolbar-arrow-under {
  &::after {
    top: 40px;
    border-color: $black-dark transparent transparent;
  }
}

.medium-toolbar-arrow-over {
  &::before {
    border-color: transparent transparent $black-dark;
  }
}

.medium-editor-placeholder {
  &::after {
    color: $black-light;
    pointer-events: none;
  }
}
