.ztopia-accordion {
  padding: 0;
  list-style: none;
  border: 1px solid $black-dark;

  &__panel {
    border-bottom: 1px solid $white-light;

    &.is-expanded,
    &:last-child {
      border-bottom: 0;
    }
  }

  &__panel-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: $spacing-s $spacing-m;
    color: $white-light;
    background-color: $black-dark;
    cursor: pointer;
  }

  &__panel-content {
    position: relative;
    height: 0;
    padding: 0 $spacing-m;
    overflow: hidden;
    list-style: none;
    transition: $transition-fast;
  }

  &__panel-indicator {
    position: absolute;
    right: 15px;
    transition: $transition-fast;

    &.is-expanded {
      transform: rotate(180deg);
    }
  }
}
