.ztopia-waiting-chat-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 125px;
  height: 75px;
  background-color: #ddd;
  border-radius: 75px;

  &::before,
  &::after {
    position: absolute;
    background: #ddd;
    border-radius: 100%;
    content: '';
  }

  &::before {
    bottom: 0;
    left: -6px;
    width: 25px;
    height: 25px;
  }

  &::after {
    bottom: -5px;
    left: -18px;
    width: 12.5px;
    height: 12.5px;
  }

  &--small {
    transform: scale(0.4);
  }

  &--medium {
    transform: scale(0.5);
  }

  &--large {
    transform: scale(0.6);
  }
}
