.ztopia-modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-modal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: $transition-fast;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  &__content {
    position: relative;
    padding: 30px;
    color: $black-dark;
    background-color: $white-light;
    outline: none;
    transform: translateY(100px);
    opacity: 0;
    transition: $transition-fast;

    &--small {
      width: 400px;
    }

    &--medium {
      width: 600px;
    }

    &--large {
      width: 800px;
    }
  }

  .ReactModal__Content--after-open {
    transform: translateY(0);
    opacity: 1;
  }

  .ReactModal__Content--before-close {
    transform: translateY(100px);
    opacity: 0;
  }

  &__close-indicator {
    position: absolute;
    top: $spacing-l;
    right: $spacing-l;
    width: 24px;
    color: $white-dark;

    &:hover {
      color: $red;
    }
  }
}
