.ztopia-stepper {
  &__header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-left: 270px;
    list-style: none;
  }

  &__step {
    position: relative;
    flex: 0 0 300px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__step-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: $white-dark;
    border: 1px solid $white-dark;
    border-radius: 100%;

    &.is-completed,
    &.is-current {
      color: $white-light;
      background-color: $black-dark;
      border-color: $black-dark;
    }
  }

  &__step-tail {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 100%;
    height: 1px;
    background-color: $white-dark;
    transform: translateY(-50%);
    content: '';

    &.is-completed {
      background-color: $black-dark;
    }
  }

  &__step-info {
    width: 250px;
    transform: translateX(calc(-50% + 15px));
  }

  &__step-title {
    text-align: center;
  }

  &__step-desc {
  }

  &__content {
    padding: $spacing-l 0;
  }
}
